@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 91.37%);
}


header {
    padding: 10px;
    background-color: #3CA165;
    border-bottom: 1px solid gray;
    color: hsl(0, 0%, 91.37%);
    ;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: .25em;
    text-transform: uppercase;
}

#nav-list {
    text-align: center;
    list-style-type: none;
    margin-top: 2em;
    padding: 0 30px;
    box-sizing: border-box;
}

.nav-option {
    width: 120px;
    margin: 1em 0 0 0;
    border: 1px solid gray;
    padding: 8px 2px 8px 0;
    box-sizing: border-box;
    background-color: #3CA165;
}

.nav-option:hover {
    background-color: tomato;
}

.nav-link {
    text-decoration: none;
    vertical-align: middle;
    color: aliceblue;
}

nav {
    width: 180px;
    display: inline-block;
    box-sizing: border-box;
}

section {
    width: calc(100% - 180px);
    min-height: 85vh;
    background-color: hsl(0, 0%, 91.37%);
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem;
    vertical-align: top;
    border-left: 1px solid gray;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.main-title {
    text-align: center;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

.body-article {
    text-indent: 2em;
    text-align: justify;
}

blockquote,
q {
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
}

.left-intext-pic {
    margin: 0 1em 1em 1em;
    float: left;
    text-align: center;
}

.centered-pic {
    margin: 1em auto;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #e9fff2;
    vertical-align: middle;
}

th {
    padding: 1rem;
    background-color: #3CA165;
    font-size: 1.2em;
    color: #e9fff2;
}

tr {
    background-color: #EDEDED;
}

tr.even-row {
    background-color: #F7F7F7;
}

td {
    padding: 0.5em;
}

.a {
    width: 50%;
}

.b {
    width: 20%;
}

.c {
    width: 15%;
    text-align: center;
}

.d {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: hsl(48.14, 100%, 83.14%);
    padding: 8px 8px 8px 16px;
    border-top: 1px solid rgba(128, 128, 128, 0.495);
}

#first-el-footer {
    color: gray
}

#second-el-footer {
    padding-left: 50px;
    
}